.weatherContainer {
    margin: 0 0 0 0;
    height: 100%;
    /*border: solid 0.5px rgba(38, 126, 60, 0.253);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: auto;
   
}

@media (min-width: 700px ) {
    .weatherContainer{
        padding-left: 20vw;
        padding-right: 20vw;
        width:100%;
    }
    
}

